@import './mixins';

$hc-offcanvas-nav-background-color:   #336ca6 !default;
$hc-offcanvas-nav-text-color:         #fff !default;
$hc-offcanvas-nav-text-size:          14px !default;


.hc-nav-trigger {
  @include hc-hamburger;
}

.nav-freeze-button {
  
  &:focus{
    outline:unset
  }

  span {
    width: 45px;
    position: absolute;
    top: 18;
    right: 0;
    bottom: 0;
    text-align: center;
    cursor: pointer;
    transition: background .1s ease;

    
    div{
        height: 3px;
        background-color: white;
        margin: 6px auto;
        }
    }

  .nav-close-button {
    position: relative;
    display: block;
  }
}

.hc-nav-trigger-fixed {
  position: absolute;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  height: 100%;
  background-color: $hc-offcanvas-nav-background-color;
	z-index: 9980;
  min-height: 24px;
  top:0;
  
  p{
    text-align: center;
    color: white;
    font-size: round($hc-offcanvas-nav-text-size * 1.35);
    font-weight: normal;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: unset;
    color: darken($hc-offcanvas-nav-background-color, 20%);

    span{
      div{
      height: 3px;
      background-color: white;
      margin: 6px auto;}
    }
  }

  ul{
    padding: 0px;

    li{
      &:first-of-type{
        border-top: 1px solid darken($hc-offcanvas-nav-background-color, 6%);
        
      }
      list-style: none;
      padding-top: 14px;
      padding-bottom: 14px;
      border-bottom: 1px solid darken($hc-offcanvas-nav-background-color, 6%);
      .nav-item-link{
        padding: 14px 17px;
        font-size: $hc-offcanvas-nav-text-size;
        color:  $hc-offcanvas-nav-text-color;
        z-index: 1;
        background: rgba(0, 0, 0, 0);
        
        
      }
    }
  }
  
  
}